@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bar-width: 25px;
  --bar-height: 4px;
  --bar-background: black;
  --bar-radius: 3px;
  --animation-timing: .5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'JakartaSans';
  src: url(../font/static/PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: "GT Sectra Fine Regular";
  src: url(../font/GT\ Sectra\ Fine\ Regular.ttf);

}

.main {
  overflow: hidden;
}

/********** HeaderComponent **********/


.navlink-container {
  gap: 1rem;
}

.navlink-container li {
  letter-spacing: .7px;
  font-size: 14px;
  font-family: 'JakartaSans';
  cursor: pointer;
}

.header-btn {
  transition: all .4s ease-in-out;
}

.header-btn:hover {
  background-color: #03fc9d !important;
  color: #003b2f !important;
  border: 1px solid #03fc9d !important;
  transition: all .4s ease-in-out;
}

.account-btns {
  font-family: 'JakartaSans';
  gap: -2px;
  width: 240px;
  justify-content: space-around;
}

.landing-text span {
  font-size: 4rem;
  font-family: 'GT Sectra Fine Regular';
  font-weight: bold;
}

.landing-text h1 {
  font-size: 4rem;
  font-family: 'GT Sectra Fine Regular';
  font-weight: bold;
}

.offering-component span,
h1 {
  font-size: 3rem;
  font-family: 'GT Sectra Fine Regular';
  font-weight: bold;
}

.video-container {
  /* position: relative;
  top: -29px;
  height: 600px; */
}

.iphone {
  /* height: 108%;
  margin: 0;
  z-index: 1;
  display: flex;
  position: relative; */
}

.landing-spotlight {
  /* width: 230px;
  top: 34px;
  position: absolute;
  left: 34px;
  z-index: 0;
  border-radius: 1.5rem; */
}

.minitext {
  font-family: 'JakartaSans';
}

.explorer-btn {
  font-family: 'JakartaSans';
  font-weight: bold;
}

.landing-btn {
  font-family: 'JakartaSans';
  font-weight: bold;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  color: black;
}

.swiper-pagination {
  background-color: white !important;
}

.swiper-button-next {
  right: 45% !important;
  top: 95% !important;
  z-index: 20 !important;
}

.swiper-button-prev {
  left: 45% !important;
  top: 95% !important;
  z-index: 20 !important;

}

.swiper-pagination-bullet-active {
  background-color: #003b2f !important;
}

.guarantee-wrapper {
  background-color: #03fc9d;
}

.guarantee-component span {
  font-family: 'GT Sectra Fine Regular';
}

.guarantee-widget h1 {
  font-size: 1.7rem !important;
}

.explorer-wrapper span {
  font-family: 'GT Sectra Fine Regular';
}

.explorer-wrapper {
  background-color: #003b2f;
}

.platform-wrapper {
  background-color: #f2f2f2;
}

.platform-text span,
h4 {
  font-family: 'GT Sectra Fine Regular';
}

.Trading-wrapper {
  background-color: #003b2f;
  padding: 4rem;
}

.trading-header span,
h1 {
  font-family: 'GT Sectra Fine Regular';
  font-size: 2.5rem !important;
}

.gril {
  margin-top: 3rem;
}

.gril h4 {
  width: 70%;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.gril p {
  width: 75%;
  color: white;
  margin-top: 1rem;
}

.support {
  margin-top: 4rem;
}

.crypto-wrapper {
  background-color: #f2f2f2;
}

.crypto-tectx span,
h1 {
  font-family: 'GT Sectra Fine Regular';
  font-size: 3rem;
  font-weight: 600;
}

.crypto-tectx h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.instituition-wrapper span,
h4 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'GT Sectra Fine Regular';
}

.Steps-wrapper {
  background-color: #f2f2f2;
  padding: 4.5rem;
}

.Steps-wrapper span {
  font-family: 'GT Sectra Fine Regular';
  font-size: 3rem;
}

.Steps-wrapper h1 {
  font-size: 3rem !important;
}

.footer-wrapper {
  padding: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: #003b2f;
}

.footer-wrapper p {
  color: #b1b4b6;
  font-size: 14px;
}

.footer-links li {
  padding-top: .2rem;
  padding-bottom: .2rem;
  color: #b1b4b6;
  font-size: 12px;
}

.footer-wrapper h4 {
  font-size: 1rem;
}

.astroo {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: whitesmoke;
  font-weight: 400;
}

.astroo h1 {
  font-size: 1rem !important;
}

.menu {
  display: none;
}

.footer-content{
  justify-content: space-between;
}

.astro-combiner{
  display: contents !important;
}

.footer-payment{
  width: 45% !important;
}

.notif-wrapper{
  padding: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  background-color: #003b2f;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
}

.notif-sec {
  color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notif-wrapper p{
  margin-top: .5rem;
  font-size: 20px;
}

.notif-wrapper button {
   background-color: #03fc9d;
   width: 100px;
   height: 35px;
   border-radius: .3rem ;
}

.notif-wrapper h1{
 color: white;
}

.notif-btn{
  display: flex;
  justify-content: end;
  font-weight: 600;
}

.dropdown-list li{
font-size: 18px;
margin: 10px 0;
}

/**************** Media Queries ******************/

/* Mobile styles (up to 600px) */

@media only screen and (max-width:334px) {
  .header-component {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    justify-content: space-between !important;
  }

  .account-btns {
    width: 145px !important;
  }

  .account-btns p {
    display: none !important;
  }

  .navlink-container {
    display: none !important;
  }

  .menu::before,
  .menu::after,
  .menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--bar-background);
    border-radius: var(--bar-radius);
    transition: opacity var(--animation-timing), width var(--animation-timing);
  }

  .menu {
    display: flex !important;
    flex-direction: column;
    gap: 3px;
  }

  .menu input {
    appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: var(--bar-width) !important;
  }

  .menu input:checked {
    opacity: 0;
    width: 0%;
  }

  .landing-wrapper {
    flex-direction: column !important;
    padding: 2rem !important;
    overflow: hidden !important;
  }

  .landing-text {
    width: 100% !important;
  }

  .landing-text h1 {
    padding-left: 5px !important;
  }

  .landing-text span,
  h1 {
    font-size: 2rem !important;
  }

  .minitext p {
    width: 100% !important;
    margin-top: 1.5rem;
    font-size: 13px !important;
  }

  .landing-btn {
    width: 100% !important;
    font-weight: 100 !important;
    margin-top: 2rem !important;
    font-size: 13px !important;
    height: 35px !important;
  }

  .download img {
    width: 100px !important;
  }

  .video-wrapper {
    margin-top: 20px !important;
    width: 100% !important;
  }

  .offering-component {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .offering span {
    font-size: 1.5rem !important;
  }

  .offering h1 {
    font-size: 1.5rem !important;
  }

  .offering-widget {
    width: 100% !important;
    margin-top: 2rem !important;
  }

  .offering-widget5 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .offering-widget1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem !important;
  }

  .offering5 span {
    font-size: 1.6rem !important;
  }

  .offering5 h1 {
    font-size: 1.6rem !important;
  }

  .offering-widget5 img {
    width: 66%;
  }

  .offering-widget1 img {
    width: 100%;
  }

  .gap5 {
    gap: 10px !important;
  }

  .swiper-button-next {
    right: 30% !important;
    top: 97% !important;
    z-index: 20 !important;
  }

  .swiper-button-prev {
    left: 30% !important;
    top: 97% !important;
    z-index: 20 !important;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px) !important;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }

  .guarantee-wrapper {
    flex-direction: column !important;
    padding: 2rem !important;
    align-items: center;
  }

  .guarantee-widget {
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    margin-bottom: 3rem !important;
  }

  .guarantee-widget li {
    font-size: 14px !important;
  }

  .guarantee-options {
    margin-top: .5rem !important;
  }

  .guarantee-component {
    width: 100% !important;
  }

  .g-text {
    margin-top: .5rem !important;
  }

  .explorer-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .explorer-text {
    width: 100% !important;
  }

  .explorer-widget {
    width: 100% !important;
    padding-top: 3rem !important;
  }

  .explorer-btn {
    width: 100% !important;
  }

  .platform-wrapper {
    padding: 2rem !important;
  }

  .platform-widget {
    height: 300px;
    position: relative;
  }

  .platform-text {
    width: 100% !important;
    padding-top: 0 !important;
  }

  .platform-text span {
    font-size: 1.3rem !important;
  }

  .platform-text h4 {
    font-size: 1rem !important;
  }

  .platform-text h1 {
    font-size: 1.3rem !important;
  }

  .pmh {
    margin-top: .5rem !important;
  }

  .platform-widget img {
    width: 90% !important;
  }

  .way {
    margin-left: .5rem !important;
  }

  .Trading-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .trading-text {
    margin-top: 2rem;
    width: 100% !important;
  }

  .trading-header span {
    font-size: 1.5rem !important;
  }

  .trading-header h1 {
    font-size: 1.5rem !important;
  }

  .gril {
    display: flex !important;
    flex-direction: column;
    margin-top: 1.5rem !important;
    gap: 2rem;
  }

  .gril h4 {
    width: 100%;
  }

  .gril p {
    width: 100%;
  }

  .support {
    margin: 0 !important;
  }

  .support p {
    width: 100%;
  }

  .trading-btn {
    flex-direction: column !important;
    gap: .5rem !important;
  }

  .trading-btn button {
    width: 100% !important;
    margin-top: .5rem !important;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .instituition-wrapper {
    padding: 2rem !important;
  }

  .instituition-wrapper h4 {
    font-size: 1.3rem !important;
  }

  .instituition-wrapper span {
    font-size: 1.3rem !important;
  }

  .instituition-btn {
    height: 36px !important;
    font-size: 12px !important;
  }

  .crypto-tectx {
    width: 100% !important;
    margin-top: 0 !important;
    padding: 2rem !important;
  }

  .buycryp {
    margin-bottom: 3.5rem !important;
  }

  .buycryp h1 {
    font-size: 1.3rem !important;
  }

  .crypto-wrapper {
    height: fit-content !important;
  }

  .buycryp span {
    font-size: 1.3rem !important;
  }

  .crypto-grid {
    display: flex !important;
    flex-direction: column !important;
    gap: 2rem !important;
    margin: 0 !important;
  }

  .crypto-grid div {
    width: 100% !important;
  }

  .crypto-tectx h4 {
    margin-bottom: .5rem !important;
  }

  .cryptoo-btn {
    width: 100% !important;
  }

  .crypto-widget {
    display: none !important;
  }

  .Steps-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .inst {
    flex-direction: column;
    gap: 2rem;
  }

  .step-leftcontent {
    width: 100% !important;
    justify-content: center;
    display: flex !important;
    flex-direction: column !important;
  }

  .step-leftcontent section {
    justify-content: center !important;
  }

  .step-leftcontent span {
    font-size: 1.5rem !important;
  }

  .step-leftcontent h1 {
    font-size: 1.5rem !important;
  }

  .steps-btn {
    width: 100% !important;
  }

  .step-rightcontent {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    gap: 2rem !important;
    margin-top: 0 !important;
  }

  .step-head {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  .step-body {
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
  }

  .step-body p {
    width: 75% !important;
  }

  .step-body h4 {
    margin-top: 0 !important;
  }

  .notif-comp {
    justify-content: center !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .notif-btn {
    justify-content: center !important;
    margin-top: 4rem !important;
  }

  .notif-btn button {
    width: 100% !important;
  }

  .notif-wrapper {
    justify-content: center !important;
  }

}

@media only screen and (min-width: 335px) and (max-width: 425px) {
  .header-component {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    justify-content: space-between !important;
  }

  .account-btns {
    width: 145px !important;
  }

  .account-btns p {
    display: none !important;
  }

  .navlink-container {
    display: none !important;
  }

  .menu::before,
  .menu::after,
  .menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--bar-background);
    border-radius: var(--bar-radius);
    transition: opacity var(--animation-timing), width var(--animation-timing);
  }

  .menu {
    display: flex !important;
    flex-direction: column;
    gap: 3px;
  }

  .menu input {
    appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: var(--bar-width) !important;
  }

  .menu input:checked {
    opacity: 0;
    width: 0%;
  }

  .landing-wrapper {
    flex-direction: column !important;
    padding: 2rem !important;
    overflow: hidden !important;
  }

  .landing-text {
    width: 100% !important;
  }

  .landing-text h1 {
    padding-left: 5px !important;
    font-size: 2rem !important;
  }

  .landing-text span {
    font-size: 2rem !important;
  }

  .minitext p {
    width: 100% !important;
    margin-top: 1.5rem;
    font-size: 17px !important;
  }

  .landing-btn {
    width: 100% !important;
    font-weight: 100 !important;
    margin-top: 2rem !important;
  }

  .download img {
    width: 100px !important;
  }

  .video-wrapper {
   margin-top: 20px !important;
   width: 100% !important;
  }


  .offering-component {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .offering span {
    font-size: 1.5rem !important;
  }

  .offering h1 {
    font-size: 1.5rem !important;
  }

  .offering-widget {
    width: 100% !important;
    margin-top: 2rem !important;
  }

  .offering-widget5 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .offering-widget1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
  }

  .offering5 span {
    font-size: 1.6rem !important;
  }

  .offering5 h1 {
    font-size: 1.6rem !important;
  }

  .offering-widget5 img {
    width: 66%;
  }

  .offering-widget1 img {
    width: 75%;
  }

  .gap5 {
    gap: 10px !important;
  }

  .swiper-button-next {
    right: 29% !important;
    top: 96% !important;
    z-index: 20 !important;
  }

  .swiper-button-prev {
    left: 29% !important;
    top: 96% !important;
    z-index: 20 !important;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px) !important;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }

  .guarantee-wrapper {
    flex-direction: column !important;
    padding: 2rem !important;
    align-items: center;
  }

  .guarantee-widget {
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    margin-bottom: 3rem !important;
  }

  .guarantee-widget li {
    font-size: 14px !important;
  }

  .guarantee-options {
    margin-top: .5rem !important;
  }

  .guarantee-component {
    width: 100% !important;
  }

  .g-text {
    margin-top: .5rem !important;
  }

  .explorer-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .explorer-text {
    width: 100% !important;
  }

  .explorer-widget {
    width: 100% !important;
    padding-top: 3rem !important;
  }

  .explorer-btn {
    width: 100% !important;
  }

  .platform-wrapper {
    padding: 2rem !important;
    flex-direction: column-reverse !important;
  }

  .platform-widget {
    height: 300px;
    position: relative;
  }

  .platform-text {
    width: 100% !important;
    padding-top: 0 !important;
  }

  .platform-text span {
    font-size: 1.5rem !important;
  }

  .platform-text h4 {
    font-size: 1rem !important;
  }

  .platform-text h1 {
    font-size: 1.5rem !important;
  }

  .pmh {
    margin-top: .5rem !important;
  }

  .platform-widget img {
    width: 90% !important;
  }

  .way {
    margin-left: .5rem !important;
  }

  .Trading-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .trading-text {
    margin-top: 2rem;
    width: 100% !important;
  }

  .trading-header span {
    font-size: 1.7rem !important;
  }

  .trading-header h1 {
    font-size: 1.7rem !important;
  }

  .gril {
    display: flex !important;
    flex-direction: column;
    gap: 2rem;
  }

  .gril h4 {
    width: 100%;
  }

  .gril p {
    width: 100%;
  }

  .support {
    margin: 0 !important;
  }

  .support p {
    width: 100%;
  }

  .trading-btn {
    flex-direction: column !important;
    gap: .5rem !important;
  }

  .trading-btn button {
    width: 100% !important;
    margin-top: .5rem !important;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .crypto-tectx {
    width: 100% !important;
    margin-top: 0 !important;
    padding: 2rem !important;
  }

  .buycryp {
    margin-bottom: 3.5rem !important;
    justify-content: center !important;
  }

  .buycryp h1 {
    font-size: 1.8rem !important;
  }

  .crypto-wrapper {
    height: fit-content !important;
  }

  .buycryp span {
    font-size: 1.8rem !important;
  }

  .crypto-grid {
    display: flex !important;
    flex-direction: column !important;
    gap: 2rem !important;
    margin: 0 !important;
  }

  .crypto-grid div {
    width: 100% !important;
  }

  .crypto-tectx h4 {
    margin-bottom: .5rem !important;
  }

  .cryptoo-btn {
    width: 100% !important;
  }

  .crypto-widget {
    display: none !important;
  }

  .instituition-wrapper {
    padding: 2rem !important;
  }

  .Steps-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .inst {
    flex-direction: column;
    gap: 2rem;
  }

  .step-leftcontent {
    width: 100% !important;
    justify-content: center;
    display: flex !important;
    flex-direction: column !important;
  }

  .step-leftcontent section {
    justify-content: center !important;
  }

  .step-leftcontent span {
    font-size: 1.5rem !important;
  }

  .step-leftcontent h1 {
    font-size: 1.5rem !important;
  }

  .steps-btn {
    width: 100% !important;
  }

  .step-rightcontent {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    gap: 2rem !important;
    margin-top: 0 !important;
  }

  .step-head {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  .step-body {
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
  }

  .step-body p {
    width: 75% !important;
  }

  .step-body h4 {
    margin-top: 0 !important;
  }

  .footer-wrapper {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .footer-links {
    display: grid !important;
    gap: 4rem !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 3rem;
  }

  .footer-payment {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #cc {
    width: 38px !important;
  }

  #ccd {
    width: 38px !important;
  }

  #aap {
    width: 45px !important;
  }

  #ggp {
    width: 43px !important;
  }

  .about {
    width: 100% !important;
  }
  .Product {
    width: 100% !important;
  }
  .Service {
    width: 100% !important;
  }
  .Resource {
    width: 100% !important;
  }
  .Address {
    width: 100% !important;
  }
  .Contact {
    width: 100% !important;
  }

  .bitstamp-final-outro {
    width: 100% !important;
  }

  .bitstamp-final-outro section {
    display: flex;
    justify-content: center;
  }

  .bitstamp-final-outro p {
    font-size: 13px !important;
  }

  .astro-combiner {
    gap: 2rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .notif-comp {
    justify-content: center !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .notif-btn {
    justify-content: center !important;
    margin-top: 4rem !important;
  }

  .notif-btn button {
    width: 100% !important;
  }

  .notif-wrapper {
    justify-content: center !important;
  }
}

/* Tablet styles (601px to 900px) */
@media only screen and (min-width: 426px) and (max-width: 610px) {
  .header-component {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    justify-content: space-between !important;
  }

  .account-btns {
    width: 145px !important;
  }

  .account-btns p {
    display: none !important;
  }

  .navlink-container {
    display: none !important;
  }

  .menu::before,
  .menu::after,
  .menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--bar-background);
    border-radius: var(--bar-radius);
    transition: opacity var(--animation-timing), width var(--animation-timing);
  }

  .menu {
    display: flex !important;
    flex-direction: column;
    gap: 3px;
  }

  .menu input {
    appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: var(--bar-width) !important;
  }

  .menu input:checked {
    opacity: 0;
    width: 0%;
  }

  .landing-wrapper {
    flex-direction: column !important;
    padding-left: 2rem !important;
    padding-top: 2rem !important;
    padding-right: 2rem !important;
    padding-bottom: 5rem !important;
    overflow: hidden !important;
  }

  .landing-text {
    width: 100% !important;
  }

  .landing-text h1 {
    padding-left: 5px !important;
  }

  .landing-text span {
    font-size: 3rem !important;
  }

  .landing-text h1 {
    font-size: 3rem !important;
  }

  .minitext p {
    width: 100% !important;
    margin-top: 1.5rem;
    font-size: 19px !important;
  }

  .landing-btn {
    font-weight: 100 !important;
    margin-top: 2rem !important;
  }

  .download img {
    width: 115px !important;
  }

  .video-container {
    top: 50px !important;
    left: 0% !important;
  }

  .video-wrapper {
    width: 100% !important;
  }

  .iphone {
    height: 592px !important;
  }

  .landing-spotlight {
    width: 34.5% !important;
    top: 2% !important;
    left: 33% !important;
    border-radius: 1.5rem;
  }

  .offering-component {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .offering span {
    font-size: 2rem !important;
  }

  .offering h1 {
    font-size: 2rem !important;
  }

  .offering-widget {
    width: 100% !important;
    margin-top: 2rem !important;
  }

  .offering-widget5 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .offering-widget1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .offering5 span {
    font-size: 2rem !important;
  }

  .offering5 h1 {
    font-size: 2rem !important;
  }

  .offering-widget5 img {
    width: 66%;
  }

  .offering-widget1 img {
    width: 75%;
  }

  .offering button {
    width: 100% !important;
  }

  .offering1 button {
    width: 100% !important;
  }

  .offering5 button {
    width: 100% !important;
  }

  .gap5 {
    gap: 10px !important;
  }

  .swiper-button-next {
    right: 35% !important;
    top: 97% !important;
    z-index: 20 !important;
  }

  .swiper-button-prev {
    left: 35% !important;
    top: 97% !important;
    z-index: 20 !important;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px) !important;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }

  .guarantee-wrapper {
    flex-direction: column !important;
    padding: 2rem !important;
    align-items: center;
  }

  .guarantee-widget {
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    margin-bottom: 3rem !important;
  }

  .guarantee-widget li {
    font-size: 16px !important;
  }

  .guarantee-options {
    margin-top: .5rem !important;
  }

  .guarantee-component {
    width: 100% !important;
  }

  .g-text {
    margin-top: 1rem !important;
  }

  .explorer-wrapper {
    padding: 3rem !important;
    flex-direction: column !important;
  }

  .explorer-text {
    width: 100% !important;
  }

  .explorer-widget {
    width: 100% !important;
    padding-top: 3rem !important;
  }

  .explorer-btn {
    width: 100% !important;
  }

  .platform-wrapper {
    padding: 2rem !important;
    flex-direction: column-reverse !important;
  }

  .platform-widget {
    height: 400px;
    position: relative;
  }

  .platform-text {
    width: 100% !important;
    padding-top: 0 !important;
  }

  .platform-text span {
    font-size: 2rem !important;
  }

  .platform-text h4 {
    font-size: 1.2rem !important;
  }

  .platform-text h1 {
    font-size: 2rem !important;
  }


  .pmh {
    margin-top: .5rem !important;
  }

  .platform-widget img {
    width: 90% !important;
  }

  .way {
    margin-left: .5rem !important;
  }

  .Trading-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .trading-text {
    margin-top: 2rem;
    width: 100% !important;
  }

  .trading-header span {
    font-size: 1.7rem !important;
  }

  .trading-header h1 {
    font-size: 1.7rem !important;
  }

  .gril {
    display: flex !important;
    flex-direction: column;
    gap: 2rem;
  }

  .gril h4 {
    width: 100%;
  }

  .gril p {
    width: 100%;
  }

  .support {
    margin: 0 !important;
  }

  .support p {
    width: 100%;
  }

  .trading-btn {
    flex-direction: column !important;
    gap: .5rem !important;
  }

  .trading-btn button {
    width: 100% !important;
    margin-top: .5rem !important;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .crypto-tectx {
    width: 100% !important;
    margin-top: 0 !important;
    padding: 2rem !important;
  }

  .buycryp {
    margin-bottom: 3.5rem !important;
  }

  .buycryp h1 {
    font-size: 2.3rem !important;
  }

  .buycryp span {
    font-size: 2.3rem !important;
  }

  .crypto-grid {
    display: flex !important;
    flex-direction: column !important;
    gap: 2rem !important;
    margin: 0 !important;
  }

  .crypto-grid div {
    width: 100% !important;
  }

  .crypto-tectx h4 {
    margin-bottom: .5rem !important;
  }

  .cryptoo-btn {
    width: 100% !important;
  }

  .crypto-widget {
    display: none !important;
  }

  .inst {
    width: 65% !important;
    gap: 1rem;
  }

  .Steps-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .inst {
    flex-direction: column;
    gap: 2rem;
  }

  .step-leftcontent {
    width: 100% !important;
  }

  .step-leftcontent span {
    font-size: 2rem !important;
  }

  .step-leftcontent h1 {
    font-size: 2rem !important;
  }

  .steps-btn {
    display: none !important;
  }

  .step-rightcontent {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    gap: 2rem !important;
    margin-top: 0 !important;
  }

  .step-head {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  .step-body {
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
  }

  .step-body p {
    width: 75% !important;
  }

  .step-body h4 {
    margin-top: 0 !important;
  }

  
  .footer-wrapper {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .footer-links {
    display: grid !important;
    gap: 4rem !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 3rem;
  }

  .footer-payment {
    width: 100%;
    display: flex;
    justify-content: center !important;
  }

  #cc {
    width: 38px !important;
  }

  #ccd {
    width: 38px !important;
  }

  #aap {
    width: 45px !important;
  }

  #ggp {
    width: 43px !important;
  }

  .about {
    width: 100% !important;
  }
  .Product {
    width: 100% !important;
  }
  .Service {
    width: 100% !important;
  }
  .Resource {
    width: 100% !important;
  }
  .Address {
    width: 100% !important;
  }
  .Contact {
    width: 100% !important;
  }

  .bitstamp-final-outro {
    width: 100% !important;
  }

  .bitstamp-final-outro section {
    display: flex;
    justify-content: center;
  }

  .bitstamp-final-outro p {
    font-size: 13px !important;
  }

  .astro-combiner {
    gap: 2rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .notif-comp {
    justify-content: center !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .notif-btn {
    justify-content: center !important;
    margin-top: 4rem !important;
  }

  .notif-btn button {
    width: 100% !important;
  }

  .notif-wrapper {
    justify-content: center !important;
  }

}

@media only screen and (min-width: 611px) and (max-width: 768px) {
  .header-component {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    justify-content: space-between !important;
  }

  .account-btns {
    width: 145px !important;
  }

  .account-btns p {
    display: none !important;
  }

  .navlink-container {
    display: none !important;
  }

  .menu::before,
  .menu::after,
  .menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--bar-background);
    border-radius: var(--bar-radius);
    transition: opacity var(--animation-timing), width var(--animation-timing);
  }

  .menu {
    display: flex !important;
    flex-direction: column;
    gap: 3px;
  }

  .menu input {
    appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: var(--bar-width) !important;
  }

  .menu input:checked {
    opacity: 0;
    width: 0%;
  }

  .landing-wrapper {
    flex-direction: column !important;
    padding-left: 2rem !important;
    padding-top: 2rem !important;
    padding-right: 2rem !important;
    padding-bottom: 5rem !important;
    overflow: hidden !important;
  }

  .landing-text {
    width: 100% !important;
  }

  .landing-text h1 {
    padding-left: 5px !important;
  }

  .landing-text span,
  h1 {
    font-size: 3rem !important;
  }

  .minitext p {
    width: 100% !important;
    margin-top: 1.5rem;
    font-size: 19px !important;
  }

  .landing-btn {
    font-weight: 100 !important;
    margin-top: 2rem !important;
  }

  .download img {
    width: 140px !important;
  }

  .video-container {
    top: 50px !important;
    left: 0% !important;
  }

  .video-wrapper {
    width: 100% !important;
  }

  .iphone {
    height: 630px !important;
  }

  .offering-component {
    padding: 2rem !important;
  }

  .offering span {
    font-size: 1.5rem !important;
  }

  .offering h1 {
    font-size: 1.5rem !important;
  }

  .offering-widget {
    width: 50% !important;
    margin-top: 2rem !important;
  }

  .offering-widget5 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50% !important;
  }

  .offering-widget1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 2rem;
  }

  .offering5 span {
    font-size: 1.3rem !important;
  }

  .offering5 h1 {
    font-size: 1.3rem !important;
  }

  .offering-widget5 img {
    width: 60%;
  }

  .offering-widget1 img {
    width: 100%;
  }

  .offering button {
    width: 50% !important;
  }

  .offering1 button {
    width: 50% !important;
  }

  .offering5 button {
    width: 50% !important;
  }

  .gap5 {
    gap: 10px !important;
  }

  .swiper-button-next {
    right: 39% !important;
    top: 93.9% !important;
    z-index: 20 !important;
  }

  .swiper-button-prev {
    left: 39% !important;
    top: 93.9% !important;
    z-index: 20 !important;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px) !important;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }

  .guarantee-wrapper {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .guarantee-widget li {
    font-size: 16px !important;
  }

  .guarantee-options {
    margin-top: .5rem !important;
  }

  .guarantee-component {
    width: 92% !important;
  }

  .g-text {
    margin-top: 1rem !important;
  }

  .explorer-wrapper {
    padding: 3rem !important;
    flex-direction: column !important;
  }

  .explorer-text {
    width: 100% !important;
  }

  .explorer-widget {
    width: 100% !important;
    padding-top: 3rem !important;
  }

  .platform-wrapper {
    padding: 2rem !important;
    flex-direction: column-reverse !important;
  }

  .platform-widget {
    height: 535px;
    position: relative;
  }

  .platform-text {
    width: 100% !important;
    padding-top: 0 !important;
  }

  .platform-text span {
    font-size: 2.5rem !important;
  }

  .platform-text h4 {
    font-size: 1.2rem !important;
  }

  .platform-text h1 {
    font-size: 2.5rem !important;
  }


  .pmh {
    margin-top: .5rem !important;
  }

  .platform-widget img {
    width: 90% !important;
  }

  .way {
    margin-left: .5rem !important;
  }

  .Trading-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .trading-text {
    margin-top: 2rem;
    width: 100% !important;
  }

  .trading-header span {
    font-size: 2.5rem !important;
  }

  .trading-header h1 {
    font-size: 2.5rem !important;
  }

  .gril h4 {
    width: 75% !important;
  }

  .gril p {
    width: 90% !important;
  }

  .trading-widget {
    justify-content: center;
    margin-top: 2rem !important;
  }

  .trading-widget img {
    width: 80% !important;
  }

  .crypto-wrapper {
    height: 85vh !important;
  }

  .crypto-tectx {
    width: 100% !important;
    margin-top: 0 !important;
    padding: 2rem !important;
  }

  .buycryp {
    margin-bottom: 3.5rem !important;
  }

  .buycryp h1 {
    font-size: 2.3rem !important;
  }

  .buycryp span {
    font-size: 2.3rem !important;
  }

  .crypto-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem !important;
    margin: 0 !important;
  }

  .crypto-grid div {
    width: 100% !important;
  }

  .crypto-tectx h4 {
    margin-bottom: .5rem !important;
  }


  .crypto-widget {
    display: none !important;
  }

  .inst {
    width: 65% !important;
    gap: 1rem;
  }

  .Steps-wrapper {
    padding: 3rem !important;
    flex-direction: column !important;
  }

  .step-rightcontent {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100% !important;
    margin-top: 0 !important;
    gap: 2rem !important;
  }

  .step-leftcontent {
    width: 100% !important;
  }

  .footer-wrapper {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .footer-links {
    display: grid !important;
    gap: 4rem !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 3rem;
  }

  .footer-payment {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  #cc {
    width: 38px !important;
  }

  #ccd {
    width: 38px !important;
  }

  #aap {
    width: 45px !important;
  }

  #ggp {
    width: 43px !important;
  }

  .about {
    width: 100% !important;
  }
  .Product {
    width: 100% !important;
  }
  .Service {
    width: 100% !important;
  }
  .Resource {
    width: 100% !important;
  }
  .Address {
    width: 100% !important;
  }
  .Contact {
    width: 100% !important;
  }

  .bitstamp-final-outro {
    width: 100% !important;
  }

  .bitstamp-final-outro section {
    display: flex;
    justify-content: center;
  }

  .bitstamp-final-outro p {
    font-size: 13px !important;
  }

  .astro-combiner {
    gap: 8rem !important;
    display: flex !important;
    align-items: center !important;
  }

  .dropdown-list li{
    margin: 20px 0 !important;
  }
}

/* Desktop styles (901px and above) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-component {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    justify-content: space-between !important;
  }

  .account-btns {
    width: 270px !important;
  }

  .navlink-container {
    display: none !important;
  }

  .menu::before,
  .menu::after,
  .menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--bar-background);
    border-radius: var(--bar-radius);
    transition: opacity var(--animation-timing), width var(--animation-timing);
  }

  .menu {
    display: flex !important;
    flex-direction: column;
    gap: 3px;
  }

  .menu input {
    appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: var(--bar-width) !important;
  }

  .menu input:checked {
    opacity: 0;
    width: 0%;
  }

  .landing-wrapper {
    padding: 2rem !important;
    overflow: hidden !important;
  }

  .landing-text {
    width: 50% !important;
    margin-top: 3rem !important;
  }

  .landing-text span {
    font-size: 3rem !important;
    padding: 0 !important;
  }

  .landing-text h1 {
    font-size: 2.5rem !important;
    padding: 0 !important;
  }

  .minitext p {
    width: 70% !important;
    font-size: 11px !important;
  }


  .download img {
    width: 115px !important;
  }

  .offering-component {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .offering span {
    font-size: 2rem !important;
  }

  .offering h1 {
    font-size: 2rem !important;
  }

  .offering-widget {
    width: 50% !important;
    margin-top: 2rem !important;
  }

  .offering-widget5 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50% !important;
  }

  .offering-widget1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 2rem;
  }

  .offering5 span {
    font-size: 1.9rem !important;
  }

  .offering5 h1 {
    font-size: 1.9rem !important;
  }

  .offering-widget5 img {
    width: 60%;
  }

  .offering-widget1 img {
    width: 100%;
  }

  .offering button {
    width: 50% !important;
  }

  .offering1 button {
    width: 50% !important;
  }

  .offering5 button {
    width: 50% !important;
  }

  .gap5 {
    gap: 10px !important;
  }

  .swiper-button-next {
    right: 42% !important;
    top: 94.9% !important;
    z-index: 20 !important;
  }

  .swiper-button-prev {
    left: 42% !important;
    top: 94.9% !important;
    z-index: 20 !important;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px) !important;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }

  .guarantee-wrapper {
    padding: 2rem !important;
  }

  .explorer-widget {
    width: 100% !important;
  }

  .platform-wrapper {
    padding: 2rem !important;
  }

  .platform-widget img {
    top: 12% !important;
  }

  .platform-text {
    padding-top: 2rem !important;
  }

  .pmh {
    margin-top: 1rem !important;
  }

  .platform-text h1 {
    font-size: 2rem !important;
  }

  .platform-text span {
    font-size: 2rem !important;
  }

  .Trading-wrapper {
    padding: 2rem !important;
    flex-direction: column !important;
  }

  .trading-text {
    margin-top: 2rem;
    width: 100% !important;
  }

  .trading-header span {
    font-size: 2.5rem !important;
  }

  .trading-header h1 {
    font-size: 2.5rem !important;
  }

  .gril h4 {
    width: 75% !important;
  }

  .gril p {
    width: 90% !important;
  }

  .trading-widget {
    justify-content: center;
    margin-top: 2rem !important;
  }

  .trading-widget img {
    width: 60% !important;
  }

  .crypto-wrapper {
    height: 85vh !important;
  }

  .crypto-tectx {
    width: 100% !important;
    margin-top: 0 !important;
    padding: 2rem !important;
  }

  .buycryp {
    margin-bottom: 3.5rem !important;
    margin-top: 3.5rem !important;
  }

  .buycryp h1 {
    font-size: 3rem !important;
  }

  .buycryp span {
    font-size: 3rem !important;
  }

  .crypto-grid {
    display: flex;
    gap: 2rem !important;
    margin: 0 !important;
  }

  .crypto-grid div {
    width: 100% !important;
  }

  .crypto-tectx h4 {
    margin-bottom: .5rem !important;
    width: 70% !important;
  }

  .crypto-widget {
    display: none !important;
  }

  .Steps-wrapper {
    padding: 3rem !important;
    flex-direction: column !important;
  }

  .step-rightcontent {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100% !important;
    margin-top: 0 !important;
    gap: 4rem !important;
  }

  .step-leftcontent {
    width: 100% !important;
  }

  #cc {
    width: 38px !important;
  }

  #ccd {
    width: 38px !important;
  }

  #aap {
    width: 45px !important;
  }

  #ggp {
    width: 43px !important;
  }

  .footer-wrapper{
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .footer-content {
    gap: 1rem !important;
  }

  .social-links {
    width: 25% !important;
  }

  .astro-combiner {
    display: contents;
  }

  .footer-payment {
    width: 41% !important;
  }
}

@media only screen and (min-width: 930px) and (max-width:1024px) {
  .minitext p {
    font-size: 14px !important;
  }
}

/* Desktop styles (901px and above) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .header-component {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    justify-content: space-between !important;
  }

  .account-btns {
    width: 270px !important;
  }

  .navlink-container {
    gap: 0.5rem;
  }

  .navlink-container li {
    padding: 0% !important;
  }

  .menu::before,
  .menu::after,
  .menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--bar-background);
    border-radius: var(--bar-radius);
    transition: opacity var(--animation-timing), width var(--animation-timing);
  }

  .menu {
    display: flex !important;
    flex-direction: column;
    gap: 3px;
  }

  .menu input {
    appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: var(--bar-width) !important;
  }

  .menu input:checked {
    opacity: 0;
    width: 0%;
  }

  .landing-wrapper {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }

  .landing-text {
    width: 50% !important;
  }

  .landing-text span {
    font-size: 4rem !important;
  }

  .landing-text h1 {
    font-size: 3.5rem !important;
    width: 100% !important;
    padding: 0 !important;
  }

  .video-wrapper {
    display: flex !important;
    align-items: center !important;
  }

  .landing-btn {
    margin-top: 2rem !important;
  }

  .minitext p {
    width: 80% !important;
  }

  .offering-component {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .offering span {
    font-size: 2.5rem !important;
  }

  .offering h1 {
    font-size: 2.5rem !important;
  }

  .offering-widget {
    width: 50% !important;
    margin-top: 2rem !important;
  }

  .offering-widget5 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50% !important;
  }

  .offering-widget1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 2rem;
  }

  .offering5 span {
    font-size: 2.4rem !important;
  }

  .offering5 h1 {
    font-size: 2.4rem !important;
  }

  .offering-widget5 img {
    width: 60%;
  }

  .offering-widget1 img {
    width: 100%;
  }

  .offering button {
    width: 50% !important;
  }

  .offering1 button {
    width: 50% !important;
  }

  .offering5 button {
    width: 50% !important;
  }

  .gap5 {
    gap: 10px !important;
  }

  .swiper-button-next {
    right: 42% !important;
    top: 94.9% !important;
    z-index: 20 !important;
  }

  .swiper-button-prev {
    left: 42% !important;
    top: 94.9% !important;
    z-index: 20 !important;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px) !important;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }

  .explorer-widget {
    width: 80% !important;
  }

  .explorer-text p {
    width: 70% !important;
  }

  .platform-wrapper {
    padding: 2rem !important;
  }

  .platform-widget img {
    top: 11% !important;
  }

  .platform-text {
    padding-top: 2rem !important;
  }

  .pmh {
    margin-top: 1rem !important;
  }

  .platform-text h1 {
    font-size: 2rem !important;
  }

  .platform-text span {
    font-size: 2rem !important;
  }

  .Trading-wrapper {
    padding: 3rem !important;
  }

  .trading-text {
    width: 80% !important;
  }

  .gril h4 {
    width: 90% !important;
  }

  .gril p {
    width: 90% !important;
  }

  .crypto-wrapper {
    height: 94vh !important;
  }

  .crypto-widget img {
    width: 62% !important;
  }

  .crypto-tectx {
    margin-top: 7%;
  }

  .crypto-tectx h1 {
    font-size: 3rem !important;
  }

  .crypto-grid {
    margin-right: 0 !important;
  }

  .footer-wrapper {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .footer-content{
    justify-content: space-between;
  }

  .astro-combiner{
    display: contents !important;
  }

  .footer-payment{
    width: 45% !important;
  }

}

@media only screen and (min-width:1160px) {
  .navlink-container {
    gap: 1rem !important;
  }
}